[submodule "config/dotfiles/rake"]
  path = config/dotfiles/rake
  url = git@github.com:robinrob/rakelib.git
[submodule "config/files/intellij-colors-solarized"]
  path = config/files/intellij-colors-solarized
  url = git@github.com:jkaving/intellij-colors-solarized.git
